<html>

	<head>
		
		<!-- java script dependencies -->
		<!-- Note that order matters here -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/HoldOn.min.js"></script>
		{{ moment.include_moment() }}
		
		<!-- CSS dependencies (Bootswatch slate) -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/HoldOn.min.css">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		
		<!-- Scale the view for mobile devices -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<!-- Title -->
		<title>CRC (v0.2 alpha)</title>
		
	</head>

	<!-- Padding added for fixed navbar -->
	<body style="padding-top: 70px;">
	
		<!-- Jinja2 macros included here -->
		{% import "macros.html" as macros %}
	
		<div class="container">
	
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ config['BASE_VIEW'] }}">CRC</a>
					</div>
					<!-- /navbar-header -->
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">

							{% if g.user.is_authenticated %}
								{% if 'admin' in g.user.roles %}
									<!-- admin-links -->
									{% for link in config['SERVICE_LINKS']['admin'] %}
										<li><a href="{{ link['address'] }}{{ link['path'] }}">{{ link['title'] }}</a></li>
									{% endfor %}
									<!-- /admin-links -->
								{% endif %}
							{% endif %}
							
							{% if g.user.is_authenticated %}
								<!-- user-links -->
								{% for link in config['SERVICE_LINKS']['user'] %}
									<li><a href="{{ link['address'] }}{{ link['path'] }}">{{ link['title'] }}</a></li>
								{% endfor %}
								<!-- /user-links -->
							{% endif %}

							<!-- all-links -->
							{% for link in config['SERVICE_LINKS']['all'] %}
								<li><a href="{{ link['address'] }}{{ link['path'] }}">{{ link['title'] }}</a></li>
							{% endfor %}
							<!-- /all-links -->
							
							{% if g.user.is_authenticated %}
								{% if 'admin' in g.user.roles %}
									<!-- admin-dropdowns -->
									{% for dropdown in config['SERVICE_DROPDOWNS']['admin'] %}
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												{{ dropdown }}
												<span class="caret"></span>
											</a>
											<ul class="dropdown-menu">
												{% for header in config['SERVICE_DROPDOWNS']['admin'][dropdown] %}
													<li class="dropdown-header">{{ header }}</li>
													{% for link in config['SERVICE_DROPDOWNS']['admin'][dropdown][header] %}
														<li><a href="{{ link['address'] }}{{ link['path'] }}">{{ link['title'] }}</a></li>
													{% endfor %}
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
									<!-- /admin-dropdowns -->
								{% endif %}
							{% endif %}
							
							{% if g.user.is_authenticated %}
								<!-- user-dropdowns -->
								{% for dropdown in config['SERVICE_DROPDOWNS']['user'] %}
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											{{ dropdown }}
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											{% for header in config['SERVICE_DROPDOWNS']['user'][dropdown] %}
												<li class="dropdown-header">{{ header }}</li>
												{% for link in config['SERVICE_DROPDOWNS']['user'][dropdown][header] %}
													<li><a href="{{ link['address'] }}{{ link['path'] }}">{{ link['title'] }}</a></li>
												{% endfor %}
											{% endfor %}
										</ul>
									</li>
								{% endfor %}
								<!-- /user-dropdowns -->
							{% endif %}
							
							{% if not g.user.is_authenticated %}
								<!-- all-dropdowns -->
								{% for dropdown in config['SERVICE_DROPDOWNS']['all'] %}
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											{{ dropdown }}
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											{% for header in config['SERVICE_DROPDOWNS']['all'][dropdown] %}
												<li class="dropdown-header">{{ header }}</li>
												{% for link in config['SERVICE_DROPDOWNS']['all'][dropdown][header] %}
													<li><a href="{{ link['address'] }}{{ link['path'] }}">{{ link['title'] }}</a></li>
												{% endfor %}
											{% endfor %}
										</ul>
									</li>
								{% endfor %}
								<!-- /all-dropdowns -->
							{% endif %}
							
						</ul>
						<!-- /navbar-nav -->
					</div>
					<!--/navbar -->
				</div>
				<!--/.container -->
			</nav>
			<!-- /navbar-fixed -->
			
			<!-- Flash messages to the user across all pages -->
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == 'message' %}
							<div class="alert alert-warning" role="alert">
						{% else %}
							<div class="alert alert-{{ category }}" role="alert">
						{% endif %}
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			
			<!-- Other HTML templates populate the rest of the body here -->
			{% block page_body %}
			{% endblock %}
			
		</div>
		<!-- /container -->
		
		<!-- Global BlockUI configuration -->
		<script type="text/javascript">
		
			function Loading() {
				HoldOn.open({
				     theme:"sk-cube-grid"
				});
			}
			
		</script>
    	
	</body>
	
</html>

