{% extends "base.html" %}

{% block page_body %}

	<h1>{{ err_req }}</h1>
	
	{% if err_opt %}
		<p>{{ err_opt }}</p>
	{% endif %}
	
	<p><a href="{{ config['BASE_VIEW'] }}">Home</a></p>
	
{% endblock %}
